.AboutMe{
  background-color: rgb(24, 23, 23);
  
}
.AboutMe .Container .Photo{
  width: 40%;
  display: flex;
  
}
.AboutMe .Container .Photo .Me{
  height: 450px;
  width: 400px;
  padding-left: 15cm;
  
}
.AboutMe .Container .Text h2{
  color: white;
  font-size: 0.8cm;
  padding-left: 0.2cm;
}
.AboutMe .Container .Text p{
  color:rgb(12, 181, 187);
  padding-left: 0.3cm;
  font-size: 25px;
  
}
.AboutMe .Container{
  display: flex;
}